<% layout('./layout/page.ejs') %>
<% if(user) {%>
<h1>Привет <%= user.username %></h1>
<% }else{ %>
<h1>Привет незалогиненный пользователь</h1>
<% } %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>
<div class="container">
    <h1>Музыка, которая вдохновляет</h1>
    <p>Погрузитесь в мир мелодий, которые рассказывают истории и создают атмосферу.</p>
    
    <div class="quote">
        <blockquote>
            «Где слова заканчиваются, музыка говорит».
        </blockquote>
        <cite>— Ганс Христиан Андерсен</cite>
    </div>

    <div class="divider"></div>

    <div class="intro">
        <p>
            Музыка — это путешествие, которое начинается с одной ноты. Откройте для себя новые жанры, звучание мира и коллекцию ваших любимых треков.
        </p>
    </div>
</div>

